<p>
  <strong>Title:</strong>
  <%= @route.name %>
</p>

<%= render 'stations' %>
<%= render 'train' %>

<%= link_to 'Edit', edit_admin_route_path(@route) %>
<%= link_to 'Go back', admin_routes_path %>