<h1>List of stations</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @stations.each do |station| %>
    <tr>
      <td>
        <div>
          <%= station.title %>
        </div>
        <%= render "form", station: station, hidden: true %>
      </td>
      <td><%= link_to "Show", admin_station(station) %></td>
      <td><%= link_to "Edit", edit_admin_station_path(station) %></td>
      <td><%= link_to "Delete", admin_station(station), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end  %>
  </tbody>
</table>

<br>

<%= link_to "Add station", new_admin_station_path %>