<tr>
  <td><%= carriage.number %></td>
  <td><%= carriage.type %></td>
  <td><%= link_to "Show", carriages_path(carriage) %></td>
  <td><%= link_to "Edit", edit_carriages_path(carriage) %></td>
  <td><%= link_to "Delete", carriages_path(carriage), method: :delete, data: { confrim: "Are you sure?" } %></td>
</tr>