<p>
  <strong>Economy carriage</strong>
  <%= @carriage.number %>

  <strong>Top seats count:</strong>
  <%= @carriage.top_seats %>

  <strong>Botton seats count:</strong>
  <%= @carriage.bottom_seats %>

  <strong>Side top seats count:</strong>
  <%= @carriage.side_top_seats %>

  <strong>Side bottom seats count:</strong>
  <%= @carriage.side_bottom_seats %>
</p>